@charset "UTF-8";
/* CSS Document */

body{
	background-color: antiquewhite;
	font-family: futura;
}


.header {
	background-color: red;
	color: yellow;
	max-width: 500px;
	text-align: center;		
}

.body1 {
	outline-style:dotted;
	outline-color: red;
	outline-width: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	max-width: 500px;

}

.body2 {
	outline-style:dashed;
	outline-color: yellow;
	outline-width: 6px;
	padding: 10px 10px 10px 10px;
	max-width: 500px;
	font-size: 18px;
	background-color: red;
	color: yellow;
}